@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

/* || VARIABLES */

:root {
  --font-family: 'Manrope', sans-serif;

  /* --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);  #7a32c7 */
  --gradient-text: linear-gradient(89.97deg, #4c128a 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;

  /* Themes */
  --color-darktheme-bg:#000000;
  --color-darktheme-text: #f5f5f5;
  --color-lighttheme-bg:#f5f5f5;
  --color-lighttheme-text: rgba(0, 0, 0, 0.76);
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearX {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.blockAnim {
  animation: appear 3s linear;
}

.blockAnimFast {
  animation: appear 1s linear;
}

.blockHeaderAnim { 
  animation: appearX 1s linear;
}

.header-img-lg {
  width: 400px;
  height: 400px;
  background-color: var(--BGCOLOR);
  background-image: url('./assets/coder1.jpeg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: normal;
  border-radius: 50%;
}

.header-img-md {
  width: 300px;
  height: 300px;
  background-color: var(--BGCOLOR);
  background-image: url('./assets/coder1.jpeg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: normal;
  border-radius: 50%;
}

.welcome_h2 {
  white-space: nowrap;
  animation: typing 5s infinite;
}

.welcome-h2-text {
  background: var(--gradient-text); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}

/* typing effect */
@keyframes typing {
  from { width: 0}
}


.bg-img-text {
  display: absolute;
  z-index: 1;
}

.slide {
  transform: scale(0.7);
  transition: ease-in ;
  opacity: 1;
}

.active-slide {
  transform: scale(1.1);
  opacity: 1;
}