@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearX {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.blockAnim {
  animation: appear 3s linear;
}

.blockAnimFast {
  animation: appear 1s linear;
}

.blockHeaderAnim { 
  animation: appearX 1s linear;
}
/*
module.exports = {
    style: {
      postcss: {
        plugins: [
          require('tailwindcss'),
          require('autoprefixer'),
        ],
      },
    },
}
}*/