@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

/* || VARIABLES */

:root {
  /* COLOR */
  --BGCOLOR: #0F172A;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearX {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.blockAnim {
  animation: appear 3s linear;
}

.blockAnimFast {
  animation: appear 1s linear;
}

.blockHeaderAnim { 
  animation: appearX 1s linear;
}

.invest-bg-img {
  background-image: url('./assets/inverstor1.avif');
}

.md-addrestaurant-bg-img {
  height: 400px;
  background-image: url('./assets/addRes6.jpg');
  background-color: var(--BGCOLOR);
  background-position: center;
  background-blend-mode:normal;
  background-size: cover;
}

.bg-img-text {
  /* filter: brightness(100%); */
  background-color: #000000a4;
  /* background-color: rgba(185, 185, 240, 0.151); */
}

.sm-addrestaurant-bg-img {
  height: 300px;
  background-image: url('./assets/addRes2.avif');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
  /* background-size: cover; */
  /* background-color: var(--BGCOLOR); */
}

.md-investors-bg-img {
  height: 400px;
  background-image: url('./assets/addRes7.jpg');
  background-color: var(--BGCOLOR);
  background-position: center;
  background-blend-mode:normal;
  background-size: cover;
}

.sm-investors-bg-img {
  height: 300px;
  background-image: url('./assets/addRes7.jpg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

.bg-img-text {
  display: absolute;
  z-index: 1;
}
/*
module.exports = {
    style: {
      postcss: {
        plugins: [
          require('tailwindcss'),
          require('autoprefixer'),
        ],
      },
    },
}
}*/

/* <h3 className={`text-white text-2xl font-bold ${props.isDark ? 'text-white' : 'text-gray-800'}`}>{props.title}</h3>
<p className={`text-white text-sm ${props.isDark ? 'text-white' : 'text-gray-800'}`}>{props.subtitle}</p> */